:root {
    --zoom: 1.5;
    --font-size: calc(var(--zoom) * 1rem);
    --char-size: calc(var(--font-size) * 1.1);
    --font-family: "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", STXihei, Arial, "Helvetica Neue", Helvetica, sans-serif;

    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    box-sizing: border-box;
    font-family: var(--font-family);
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    font-family: var(--font-family);
    font-size: var(--font-size);
    color: var(--text-color);
    line-height: calc(var(--font-size) * 1.85);
    letter-spacing: calc(var(--font-size) / 10);
    margin: 0;
}