* {
    -fx-font-smoothing-type: gray;
}

/* ****************************************************************************************************************** */
.flat-button,
.flat-toggle-button,
.flat-tool-bar .button,
.flat-tool-bar .toggle-button {
    -fx-padding: .2em .4em;
    -fx-background-color: transparent;
}

.button,
.toggle-button {
    -fx-padding: .275em .8em;
    -fx-body-color: transparent;
    -fx-outer-border: transparent;
    -fx-inner-border: transparent;
}

.font-icon {
    -fx-font-size: 1.35em;
    -fx-fill: derive(-fx-mid-text-color, 30%);
}

.tool-bar {
    /*-fx-padding: .5em;*/
}

.context-menu {
    -fx-padding: 5 0;
    -fx-background-color: -fx-background;
    -fx-background-radius: 5;
    -fx-min-width: 18em;
    -fx-border-width: 1;
    -fx-border-radius: 5;
}
.context-menu .menu-item {
    -fx-padding: 6 14;
    -fx-background-radius: 3;
    -fx-background-insets: 0 4;
    -fx-background-color: -fx-background;
}
.context-menu .menu-item .label,
.context-menu .menu-item:hover .label {
    -fx-text-fill: -fx-mid-text-color;
    -fx-fill: -fx-mid-text-color;
}
#choice-box-popup-menu {
    -fx-min-width: 0;
}

.separator:horizontal {
    -fx-padding: 4 0;
}
.separator:horizontal .line {
    -fx-pref-height: 1;
}
.separator:vertical .line {
    -fx-pref-width: 1;
}
.separator:vertical {
    -fx-max-height: 1.75em;
}


.split-pane {
    -fx-padding: 0;
    -fx-border-width: 0;
    -fx-background-color: -fx-background;
}

.split-pane-divider {
    -fx-pref-width: .4em;
}

.scroll-pane {
    -fx-border-color: -fx-control-inner-background;
}

.scroll-bar .thumb {
    -fx-background-radius: 16;
    -fx-opacity: .75;
}
.scroll-bar:hover .thumb,
.scroll-bar:pressed .thumb {
    -fx-opacity: 1;
}
.scroll-bar:vertical {
    -fx-pref-width: .75em;
}
.scroll-bar:horizontal {
    -fx-pref-height: .75em;
}

.scroll-bar .increment-button,
.scroll-bar .decrement-button {
    -fx-pref-width: 0;
    -fx-pref-height: 0;
    -fx-opacity: 0;
}


.tree-view,
.list-view {
    -fx-padding: 0;
    -fx-background-insets: 0;
    -fx-background-color: -fx-background;
}
.tree-view .tree-cell:filled,
.list-view .list-cell:filled {
    -fx-border-width: 0 0 .05em 0;
    -fx-border-style: dashed;
}
.tree-view .tree-cell:filled .font-icon,
.list-view .list-cell:filled .font-icon {
    -fx-fill: derive(-fx-accent, 60%);
}
.tree-view .tree-cell.visited:filled,
.list-view .list-cell.visited:filled {
    -fx-text-fill: #20b771;
}
.tree-view .tree-cell.visited:filled .font-icon,
.list-view .list-cell.visited:filled .font-icon,
.tree-view .tree-cell.visited:filled .plaintext,
.list-view .list-cell.visited:filled .plaintext {
    -fx-fill: #20b771;
}
.tree-view .tree-cell:filled .plaintext,
.list-view .list-cell:filled .plaintext {
    -fx-fill: -fx-mid-text-color;
}
.tree-view .tree-cell:filled .highlight,
.list-view .list-cell:filled .highlight,
.tree-view .tree-cell.visited:filled .highlight,
.list-view .list-cell.visited:filled .highlight {
    -fx-fill: derive(-fx-accent, -10%);
    -fx-font-weight: bolder;
}


.tab-header-area {
    -fx-padding: 0;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: transparent;
}

.tab-header-area .tab-header-background {
    -fx-background-radius: 0;
    -fx-border-width: 0 0 1 0;
}

.tab-header-area .tab {
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-padding: .25em .8em;
    -fx-border-width: 0 0 2 0;
    -fx-border-color: transparent;
}

.tab-header-area .tab .focus-indicator {
    -fx-border-width: 0;
}

.tab-header-area .tab .tab-label {
    -fx-padding: 0 .6em 0 0;
    -fx-opacity: .8;
}

.tab-header-area .tab .tab-close-button {
    -fx-shape: "M19,6.41L17.59,5 12,10.59 6.41,5 5,6.41 10.59,12 5,17.59 6.41,19 12,13.41 17.59,19 19,17.59 13.41,12z";
    -fx-scale-shape: false;
    -fx-cursor: hand;
}

.tab-header-area .tab:selected {
    -fx-background-color: -fx-background;
}

.tab-header-area .tab .tab-close-button:hover,
.tab-header-area .tab:selected .tab-close-button:hover {
    -fx-background-color: -fx-accent;
}

.tab-header-area .control-buttons-tab {
    -fx-padding: .65em .15em;
}

.tab-header-area .control-buttons-tab .container {
    -fx-padding: 0;
}

.tab-header-area .control-buttons-tab .container .tab-down-button {
    -fx-background-color: transparent;
}

.tab-pane.stretched .tab-header-area .control-buttons-tab {
    -fx-pref-width: 0;
    -fx-pref-height: 0;
    -fx-opacity: 0;
}

.tab-pane.stretched .tab-header-area .tab {
    -fx-padding: .1em 0;
}

.accordion .title {
    -fx-background-color: -fx-background;
}

.accordion .title,
.accordion .content {
    -fx-background-radius: 0;
    -fx-border-width: 1 0 0 0;
}

.accordion .first-titled-pane .title {
    -fx-border-width: 0 0 1 0;
}

/* ****************************************************************************************************************** */
.side-vbox {
    -fx-background-color: -fx-background;
}

.flat-tool-bar,
.tool-bar {
    -fx-alignment: center-left;
}

.title-bar {
    -fx-font-weight: bold;
    -fx-padding: 0.58em 0.5em;
    -fx-text-overrun: ellipsis;
}

.lookup-view {
    -fx-border-radius: 6;
    -fx-background-radius: 6;
}
.lookup-view .text-field {
    -fx-background-insets: 0 0 1 0;
}

.search-view .pagination .page-information {
    -fx-opacity: 0;
    -fx-pref-width: 0;
    -fx-pref-height: 0;
}

.prefs-dialog-pane .group-label {
    -fx-padding: .5em 0;
}
/* ****************************************************************************************************************** */