.workbench .side-tools,
.workbench .side-tools .context-menu,
.workbench .side-tools .context-menu .custom-menu-item {
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-padding: 0;
    -fx-spacing: 0;
}
.workbench .side-tools .context-menu,
.workbench .side-tools .context-menu .custom-menu-item {
    -fx-min-width: 0;
}

.workbench .side-tools .toggle-button,
.workbench .side-tools .button {
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-border-width: 0 3 0 3;
    -fx-cursor: hand;
    -fx-padding: 0.45em .6em;
    -fx-focus-traversable: false;
}

.workbench .side-tools .toggle-button .text,
.workbench .side-tools .button .text {
    -fx-font-size: 85%;
}

.workbench .side-tools .toggle-button:selected {
    -fx-border-color: transparent transparent transparent -fx-accent;
}

.workbench .side-tools .font-icon {
    -fx-font-size: 2em;
}

.workbench .side-tools .toggle-button:hover,
.workbench .side-tools .toggle-button:selected,
.workbench .side-tools .button:hover,
.workbench .side-tools .toggle-button:hover .font-icon,
.workbench .side-tools .toggle-button:selected .font-icon,
.workbench .side-tools .button:hover .font-icon {
    -fx-fill: -fx-accent;
    -fx-text-fill: -fx-accent;
}