.root {
	-primary-swatch-50: #E1F5FE;
	-primary-swatch-100: #B3E5FC;
	-primary-swatch-200: #81D4FA;
	-primary-swatch-300: #4FC3F7;
	-primary-swatch-400: #29B6F6;
	-primary-swatch-500: #03A9F4;
	-primary-swatch-600: #039BE5;
	-primary-swatch-700: #0288D1;
	-primary-swatch-800: #0277BD;
	-primary-swatch-900: #01579B;
	-alternate-swatch-100: #80D8FF;
	-alternate-swatch-200: #40C4FF;
	-alternate-swatch-400: #00B0FF;
	-alternate-swatch-700: #0091EA;
}