.root {
	-primary-swatch-50: #F1F8E9;
	-primary-swatch-100: #DCEDC8;
	-primary-swatch-200: #C5E1A5;
	-primary-swatch-300: #AED581;
	-primary-swatch-400: #9CCC65;
	-primary-swatch-500: #8BC34A;
	-primary-swatch-600: #7CB342;
	-primary-swatch-700: #689F38;
	-primary-swatch-800: #558B2F;
	-primary-swatch-900: #33691E;
	-alternate-swatch-100: #CCFF90;
	-alternate-swatch-200: #B2FF59;
	-alternate-swatch-400: #76FF03;
	-alternate-swatch-700: #64DD17;
}