.root {
	-primary-swatch-50: #E0F7FA;
	-primary-swatch-100: #B2EBF2;
	-primary-swatch-200: #80DEEA;
	-primary-swatch-300: #4DD0E1;
	-primary-swatch-400: #26C6DA;
	-primary-swatch-500: #00BCD4;
	-primary-swatch-600: #00ACC1;
	-primary-swatch-700: #0097A7;
	-primary-swatch-800: #00838F;
	-primary-swatch-900: #006064;
	-alternate-swatch-100: #84FFFF;
	-alternate-swatch-200: #18FFFF;
	-alternate-swatch-400: #00E5FF;
	-alternate-swatch-700: #00B8D4;
}