.root {
	-fx-base: #333333;
	-fx-background: derive(-fx-base, 10%);
    -fx-control-inner-background: derive(-fx-base, 20%);

	-fx-dark-text-color: #eeeeee;
    -fx-mid-text-color: #9e9e9e;
    -fx-light-text-color: #cccccc;

	-fx-text-fill1: -text-dark;
	-text-disabled: -text-disabled-dark;
	-text-input-prompt-color: rgba(255, 255, 255, 0.3);

	-background-disabled: rgba(255, 255, 255, 0.12);
	-background-fill: -text-dark;

	-flat-button-hover-background: rgba(204, 204, 204, 0.15);
	-flat-button-pressed-background: rgba(204, 204, 204, 0.25);
	-flat-button-disabled-fill: rgba(255, 255, 255, 0.3);
}