:root {
    --zoom: 1.5;
    --font-size: calc(var(--zoom) * 1rem);
    --char-size: calc(var(--font-size) * 1.1);
    --font-family: "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", STXihei, Arial, "Helvetica Neue", Helvetica, sans-serif;

    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    box-sizing: border-box;
    font-family: var(--font-family);
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    font-family: var(--font-family);
    font-size: var(--font-size);
    color: var(--text-color);
    line-height: calc(var(--font-size) * 1.85);
    letter-spacing: calc(var(--font-size) / 10);
    margin: 0;
}

h1, h1 * { font-size: calc(var(--font-size) * 1.466) !important; }
h2, h2 * { font-size: calc(var(--font-size) * 1.333) !important; }
h3, h3 * { font-size: calc(var(--font-size) * 1.233) !important; }
h4, h4 * { font-size: calc(var(--font-size) * 1.133) !important; }
h5, h5 * { font-size: calc(var(--font-size) * 1.066) !important; }
h6, h6 * { font-size: calc(var(--font-size) * 1.000) !important; }
h3, h4, h5, h6 { margin-block-start: 1rem; margin-block-end: 1rem; }


/* ****************************************************************************************************************** */
/* ****************************************************************************************************************** */
